<section class="searchData">
    <h3 class="searchData-heading">{{searchData.fullName}}</h3>
    <p class="searchData-id">ID: {{searchData.id}}</p>
    <p class="searchData-email">Email: {{searchData.email}}</p>
    @if (searchData.isList == true) {
        <p class="searchData-accessName">Role: {{searchData.accessName}}</p>
        <p class="searchData-active">Active: {{searchData.active}}</p>
    }
    @else if (searchData.isList == false) {
        <p class="searchData-session">Session: {{searchData.session}}</p>
        <p class="searchData-createdBy">Created By: {{searchData.createdBy}}</p>
        @if (searchData.updatedBy == '') {
            <p class="searchData-updatedBy">Updated By: Nobody</p>
        }
        @else if (searchData.updatedBy != '') {
            <p class="searchData-updatedBy">Updated By: {{searchData.updatedBy}}</p>
        }
    }
</section>