<div class="container">
    <div class="main-page">
        <div class="search-title">Search All Users</div>
        <form class="search-form" [formGroup]="searchMany_form" (ngSubmit)="searchMany()">
            <label for="search">Search For:</label>
            <input type="text" id="search" class="search-data" formControlName="search" placeholder="Input search term:"/>
            <label for="getActive">Inactive Users:</label>
            <select id="getActive" class="search-data" formControlName="getActive">
                <option disabled selected value>Include inactive users?</option>
                <option value=True>Yes</option>
                <option value=False>No</option>
            </select>
            <button [disabled]="isWaitingResponse || !searchMany_form.valid" type="submit" class="search-submit">Search Users</button>
        </form>
    </div>
    <div class="main-page">
        <div class="search-title">Search One User</div>
        <form class="search-form" [formGroup]="searchOne_form" (ngSubmit)="searchOne()">
            <label for="id">User ID:</label>
            <input type="text" id="id" class="search-data" formControlName="id" placeholder="Input ID:"/>
            <label for="email">User Email:</label>
            <input type="text" id="email" class="search-data" formControlName="email" placeholder="Input email:"/>
            <button [disabled]="isWaitingResponse || !searchOne_form.valid" type="submit" class="search-submit">Search User</button>
        </form>
    </div>
    <div class="results">
        <div class="search-title">Search Results</div>
        <div class="search-results">
            <p class="no-results" *ngIf="searchList.length === 0">No results.</p>
            <app-search-data
                *ngFor="let searchData of searchList"
                [searchData]="searchData">
            </app-search-data>
        </div>
    </div>
</div>